<a href="https://colab.research.google.com/github/Mouly22/OOP-Python/blob/main/ungraded.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
class Student:
  def __init__(self, name, id, dept):
    self.name = name
    self.id = id
    self.dept = dept

  def details(self):
    print(f'Name:{self.name}')
    print(f'ID:{self.id}')
    print(f'Department: {self.dept}')

              
              
              
  def advise(self, *sub):
    if len(sub) == 2:
      g = len(sub) * 3
      msg = 'Status: You have to take at least 1 more course.'
    elif len(sub) == 3:
      g =  len(sub) * 3
      msg = 'Status: Ok'
    elif len(sub) == 5:
      g = len(sub) * 3
      msg = 'Status: You have to drop at least 1 course.'

    print(f'{self.name}, you have taken {g} credits.')
    print('List of courses:')
    lst = []
    for i in sub:
      lst.append(i)
    for k in lst:
      mm = ''.join(str(k))
      print(mm, end = ' ')
    print()

    print(msg)
      



s1 = Student('Alice','20103012','CSE')
s2 = Student('Bob', '18301254','EEE')
s3 = Student('Carol', '17101238','CSE')
print('##########################')
print(s1.details())
print('##########################')
print(s2.details())
print('##########################')
s1.advise('CSE110', 'MAT110', 'PHY111')
print('##########################')
s2.advise('BUS101', 'MAT120')
print('##########################')
s3.advise('MAT110', 'PHY111', 'ENG102','CSE111', 'CSE230')

##########################
Name:Alice
ID:20103012
Department: CSE
None
##########################
Name:Bob
ID:18301254
Department: EEE
None
##########################
Alice, you have taken 9 credits.
List of courses:
CSE110 MAT110 PHY111
Status: Ok
##########################
Bob, you have taken 6 credits.
List of courses:
BUS101 MAT120
Status: You have to take at least 1 more course.
##########################
Carol, you have taken 15 credits.
List of courses:
MAT110 PHY111 ENG102 CSE111 CSE230
Status: You have to drop at least 1 course.

In [ ]:
ID: 1 Title: The Alchemist Price: 500 ISBN: 97806 Publisher: HarperCollins
-----------------------
ID: 2 Title: Shotto Price: 300 
Band: Warfaze Duration: 50 minutes Genre: Hard Rock

In [9]:
class Product:
    def __init__(self,id, title, price):
        self.__id = id
        self.__title = title
        self.__price = price
    def get_id_title_price(self):
        return "ID: "+str(self.__id)+" Title:"+self.__title+ "Price: "+str(self.__price)
#write your code here
class Book(Product):
    def __init__(self, id, title, price, isbn, publisher):
        super().__init__(id, title, price)
        self.isbn = isbn
        self.publisher = publisher

    def printDetail(self):
       print(super().get_id_title_price())
       return f'ISBN: {self.isbn} Publisher: {self.publisher}'
    
class CD(Product):
    def __init__(self, id, title, price, band, duration, genre):
       super().__init__(id, title, price)
       self.band = band
       self.duration = duration
       self.genre = genre

    def printDetail(self):
        print(super().get_id_title_price())
        print(f"Band: {self.band} Duration: {self.duration}")
        return f"Genre: {self.genre}"
    
book = Book(1,"The Alchemist",500,"97806","HarperCollins")
print(book.printDetail())
print("-----------------------")
cd = CD(2,"Shotto",300,"Warfaze",50,"Hard Rock")
print(cd.printDetail())

ID: 1 Title:The AlchemistPrice: 500
ISBN: 97806 Publisher: HarperCollins
-----------------------
ID: 2 Title:ShottoPrice: 300
Band: Warfaze Duration: 50
Genre: Hard Rock

In [ ]:
class Animal:   
    def __init__(self,sound):
        self.__sound = sound
        
    def makeSound(self):
        return self.__sound
        
class Dog(Animal):
   def __init__(self, sound):
      super().__init__(sound = sound)

class Cat(Animal):
   def __init__(self, sound):
      super
      
    

class Printer:   
    def printSound(self, a):
        print(a.makeSound())


#write your code here

d1 = Dog('bark')
c1 = Cat('meow')
a1 = Animal('Animal does not make sound')
pr = Printer()
pr.printSound(a1)
pr.printSound(c1)
pr.printSound(d1)

In [ ]:
OUTPUT:
Shape name: Default
Height: 0, Base: 0
Area: 0.0
---------------------------
Shape name: Triangle
Height: 10, Base: 5
Area: 25.0
---------------------------
Shape name: Trapezoid 
Height: 10, Base: 6, Side_A: 4
Area: 50.0

In [10]:
class Shape:

  def __init__(self, name='Default', height=0, base=0):
    self.area = 0
    self.name = name
    self.height = height
    self.base = base

  def get_height_base(self):
    return "Height: "+str(self.height)+",Base: "+str(self.base)

#write your code here
class triangle(Shape):
    def __init__(self,  name='Default', height=0, base=0):
      super().__init__(name = name, height = height, base = base)
    
    def calcArea(self):
       self.area = 0.5*self.base*self.height

    def printDetail(self):
        print(f"Shape name: {self.name}")
        print(f"Height: {self.height}, Base: {self.base}")
        return f"Area: {self.area}"

class trapezoid(Shape):
   def __init__(self, name= 'Default', height = 0, base = 0, side_A = 0):
       super().__init__(name = name, height = height, base = base)
       self.side_A = side_A


   def calcArea(self):
       self.area = 0.5*(self.base+self.side_A)*self.height
  
   def printDetail(self):
       print(f"Shape name: {self.name}")
       print(f"Height: {self.height}, Base: {self.base}, Side_A: {self.side_A}")
       return f"Area: {self.area}"




tri_default = triangle()
tri_default.calcArea()
print(tri_default.printDetail())
print('--------------------------')
tri = triangle('Triangle', 10, 5)
tri.calcArea()
print(tri.printDetail())
print('---------------------------')
trap = trapezoid('Trapezoid', 10, 6, 4)
trap.calcArea()
print(trap.printDetail())

Shape name: Default
Height: 0, Base: 0
Area: 0.0
--------------------------
Shape name: Triangle
Height: 10, Base: 5
Area: 25.0
---------------------------
Shape name: Trapezoid
Height: 10, Base: 6, Side_A: 4
Area: 50.0

In [ ]:
Student1 Created with default parameters
*********************************
Student1 :
Name: Unknown
Department: CSE
CGPA: 0
*********************************
Student2 :
Name: Karim
Department: EEE
CGPA: 3.33
********************************
Student3 :
Name: Rahim
Department: ECE
CGPA: 3.1
********************************
3.50>3.22

In [33]:
class Student:
  count = 0
  @staticmethod
  def CreateStudent():
    print('Student1 Created with default parameters')

  @classmethod
  def CreateStudent(cls,  name= 'Unknown', dept= 'CSE', cgpa= 0):
     cls.name = name
     cls.dept = dept
     cls.cgpa = cgpa
     obj = cls(name, dept, cgpa)
     return obj
     
     


  def __init__(self, name= 'Unknown', dept= 'CSE', cgpa= 0):
     
     self.name = name
     self.dept = dept
     self.cgpa = cgpa
     Student.count += 1
  def updateCGPA(self, cgpa):
     self.cgpa = cgpa

  def details(self):
    print('Student1 Created with default parameters')
    print(f'*********************************')
    print(f'Student{Student.count}:')
    print(f'Name: {self.name}')
    print(f'Department:{self.dept}')
    print(f'CGPA:{self.cgpa}')

  @classmethod
  def compare(cls, v1, v2):
    if v1 > v2:
      print(f'{v1}> {v2}')
    else:
      print(f'{v2}> {v1}')
    



Student1 = Student.CreateStudent()
Student2 = Student('Karim','EEE')
Student3 = Student('Rahim','ECE')
Student1.details()
Student2.updateCGPA(3.33)
Student3.updateCGPA(3.1)

Student4=Student('Sani','BBA',3.53)

Student2.details()
Student3.details()
Student.compare(3.22, 3.50)

Student1 Created with default parameters
*********************************
Student3:
Name: Unknown
Department:CSE
CGPA:0
Student1 Created with default parameters
*********************************
Student4:
Name: Karim
Department:EEE
CGPA:3.33
Student1 Created with default parameters
*********************************
Student4:
Name: Rahim
Department:ECE
CGPA:3.1
3.5> 3.22