<a href="https://colab.research.google.com/github/Mouly22/OOP-Python/blob/main/ungraded.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [47]:
class Student:
  def __init__(self, name, id, dept):
    self.name = name
    self.id = id
    self.dept = dept

  def details(self):
    print(f'Name:{self.name}')
    print(f'ID:{self.id}')
    print(f'Department: {self.dept}')

              
              
              
  def advise(self, *sub):
    if len(sub) == 2:
      g = len(sub) * 3
      msg = 'Status: You have to take at least 1 more course.'
    elif len(sub) == 3:
      g =  len(sub) * 3
      msg = 'Status: Ok'
    elif len(sub) == 5:
      g = len(sub) * 3
      msg = 'Status: You have to drop at least 1 course.'

    print(f'{self.name}, you have taken {g} credits.')
    print('List of courses:')
    lst = []
    for i in sub:
      lst.append(i)
    for k in lst:
      mm = ''.join(str(k))
      print(mm, end = ' ')
    print()

    print(msg)
      



s1 = Student('Alice','20103012','CSE')
s2 = Student('Bob', '18301254','EEE')
s3 = Student('Carol', '17101238','CSE')
print('##########################')
print(s1.details())
print('##########################')
print(s2.details())
print('##########################')
s1.advise('CSE110', 'MAT110', 'PHY111')
print('##########################')
s2.advise('BUS101', 'MAT120')
print('##########################')
s3.advise('MAT110', 'PHY111', 'ENG102','CSE111', 'CSE230')

##########################
Name:Alice
ID:20103012
Department: CSE
None
##########################
Name:Bob
ID:18301254
Department: EEE
None
##########################
Alice, you have taken 9 credits.
List of courses:
CSE110 MAT110 PHY111
Status: Ok
##########################
Bob, you have taken 6 credits.
List of courses:
BUS101 MAT120
Status: You have to take at least 1 more course.
##########################
Carol, you have taken 15 credits.
List of courses:
MAT110 PHY111 ENG102 CSE111 CSE230
Status: You have to drop at least 1 course.